.userName {
    width:70%;
    margin-top:2%;
    }
    
    .firstName{
    width: 70%;
    margin-top:4%
    }
    
    .userBox{
    padding:1%;
    width: 70%;
    margin-bottom: 2%;
    }

    /* Haettenschweiler */
.addFavourite {
    width: 100%;
    padding:1.5%;
    margin-top: 1%;
    outline: auto #004c98;
}

.addFavourite:focus {
    /* background-color: #a7d9f0; */
    outline: auto #84b4d9;
}