.profileUserName {
width:70%;
margin-top:1%;
}

.profileFirstName{
width: 70%;
margin-top:5%
}

.lastName{
width: 70%;
margin-top:1% 
}

.profileUserBox{
padding:1%;
width: 70%;
margin-bottom: 5%;
}

.ProfilePic{
    margin-bottom: 1%;
    margin-left: 10%;
    margin-top: 10%;
}