.header {
    background-color: #a7d9f0;
    
}

.container0 {
margin: 5% auto;
padding-left: 18%;
}

.container1 {
    border:  5px black solid;
    padding: 2%;
    margin-top: 5%;
    background-color:#946b4d;
    margin-bottom: 8%;
}

.container2 {
    border: 5px black solid;
    margin-top: 5% auto;
    /* padding-right:0;
    padding-left:0; */
    background-color:#dddddd;
   
}

.cardImage {
    width: 100%;

}

.userCard {
    border: none;
    
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

body {
    background: url(/images/background.svg) no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.register{
    margin:2%;
    font-weight: bold;
    text-decoration: underline;
}

.welcome{
    margin-top:25%;
    margin-bottom: 5%;
    font-weight: bold;
    text-decoration: underline;
}
 .login{
     color: #946b4d;
    margin-top:25%;
    font-weight: bold;
    text-decoration: underline;
 }